body {
  position: relative;
  text-align: center;
}

#title {
  font-size: 22px;
  margin: 0;
}

#description {
  font-size: 16px;
  font-weight: 600;
  margin-top: 8px;
}

#choropleth {
  border: 1px solid green;
}

#tooltip {
  background-color: rgb(255, 255, 255);
  border: 1px solid blue;
  left: 0;
  min-height: 10px;
  min-width: 10px;
  opacity: 0;
  padding: 8px;
  position: absolute;
  text-align: left;
  top: 0;
}
